body {
    padding: 2.5em 2em;
    background: #1a1a1d;
    font-size: 1.5em;
    color: #fff;
    font-family: Open-sans, sans-serif;
}

section {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.password-container {
    display: flex;
}

.show-icon {
    line-height: 2em !important;
    font-size: 2em !important;
}

input {
    margin-right: 0.5em;
    padding: 0.5em 1em 0.5em 0.7em;
    width: 100%;
    border: none;
    background: #ccc;
    color: #222;
    font-size: 2em;
}

.error {
    color: #c3073F;
}

.disabled {
    color: #4e4e50;
}