body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	text-align: center;
}
.button {
	background-color: coral;
	padding: 0.6rem;
	color: white;
	cursor: pointer;
}

.button:hover {
	background: black;
}

#page1 {

}

#page2 {
	display: none;
}

#page3{
	display: none;
}

p {
font-weight: lighter;
    margin: 50px;
}

#results{
    font-weight: bold;
    font-size: 15px;
}
