.container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:30px;
}
.title{
    margin-right:4px;
}

.toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    height: 28px;
    width: 46px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    transition: all 0.2s ease;
}
.toggle:focus {
    outline: 0;
}
.toggle:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #ffd644;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle:checked:after {
    transform: translatex(16px);
    background: #4d0c64
}