
body {
    margin: 0;
    font-family: 'Red Hat Text', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1em;
}

section {
    width: 100%;

}

#navbar {
    text-align: right;
    background: #f2f2f2;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    z-index: 20;
}

.sticky {
    position: fixed;
    top: 0;
}

#navbar a {
    padding: 10px;
    margin: 3px;
    color: #4e4e50;
}

#navbar a:hover {
    font-weight: bolder;
}

.intro {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 50vh;
    background: #f9f9f9;
    padding-top: 20px;
}

.introImg {
    margin: 20px;
}

.introHead {
    color: salmon;
    font-size: 2.5em;
    width: 400px;
}

#profilepic {
    max-width: 100%;
    border-radius: 50px;
}



.introImg .tooltiptext {
    visibility: hidden;
    position: absolute;
    margin-left: -50px;
    width: 70px;
    background-color: #14e47cbf ;
    color: #4e4e50;
    text-align: center;
    border-radius: 20px;
    border: solid 2px #14e47c;
    padding: 5px 0;
    z-index: 1;
}

.introImg:hover .tooltiptext {
    visibility: visible;
}

.container{
    height: 50vh;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.hyperIntroText{
    width: 450px;
    color: mediumpurple;
    font-size: 1.5em;

}

.hyperImage{
    margin: 10px;
    width: 45vw;
    height:45vh;
    overflow: scroll;
}

.hyperDemo{
    max-width: 100%;
}


#projects{
    padding-top: 50px;
}

.project-headline {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: salmon;
}

.main-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    flex: 1 1 80%;
}


.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.portfolio a {
    font-size: 1em;
    color: ghostwhite;
    padding: 15px;
    margin: 20px;
    font-weight: bolder;
}

.portfolio-item {
    color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 1;
}

.portfolio-item.small {
     grid-row: span 1;
     grid-column: span 1;
    background-image: url("https://images.unsplash.com/photo-1509822429293-98a3c3fe6bee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3174&q=80");
}

.portfolio-item.medium {
     grid-row: span 2;
     grid-column: span 2;
 }

.portfolio-item.medium.cafe {
    background-image: url("https://images.unsplash.com/photo-1501339847302-ac426a4a7cbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2557&q=80");
}

.portfolio-item.medium.codeEx {
    background-image: url("https://images.unsplash.com/photo-1552793494-111afe03d0ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
}

.portfolio-item.medium.random {
    background-image: url("https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80");
}

.portfolio-item.large {
     grid-row: span 3;
     grid-column: span 3;
 }

.portfolio-item.tall {
     grid-row: span 3;
     grid-column: span 2;
    background-image: url("https://images.unsplash.com/photo-1464820453369-31d2c0b651af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");

}

.portfolio-item.wide {
     grid-row: span 2;
     grid-column: span 3;
    background-image: url("https://images.unsplash.com/photo-1503662549813-28954e75f215?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80");
 }

.portfolio-item.large.two {
    background-image: url("https://images.unsplash.com/photo-1524282745852-a463fa495a7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80");
}


.portfolio-item:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    border: 3px solid darksalmon;

}





.portfolio-item::before {
    content: '';
    display: block;
    background: darkgrey;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
}

.portfolio-item:hover::before {
    opacity: 0.1;
}


.contact {
    background: #cccccc;
    display: flex;
    justify-content: space-evenly;
}

.contact-details {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    list-style-type: none;
    width: 350px;
    height: 50px;
    line-height: 100px;
    color: black;
    text-decoration: none;
}

.contact-details:hover {
    color: #ffffc0;
}


@media screen and (max-width:60em) {

    #navbar{
        text-align: center;
        display: flex;
        width: 100vw;
        height: 150px;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 15px;
        align-items: center;
        justify-items: center;

    }

    .navitem{
        display: flex;
        width: 100vw;
        height: 10px;
        flex-direction: column;

    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
        height: 700px;
    }

    .container {
        flex-direction: column;
        height: 60vh;
    }


    .project-container {
        display: flex;
        flex-direction: column;
        height: 75vh;
    }

    .project {
        display: flex;
        flex-direction: column;
    }

    .project-pic {
        width: 70vw;
    }

    .contact {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contact-details {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: space-evenly;

    }
}


.typeEffect {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color:#f4f4f4;
    color:dimgray;
    font-family: 'Butterfly Kids', cursive;
}



.typewrite > .wrap {
    color:dimgray;
    font-family: 'Butterfly Kids', cursive;
}
